.card {
    background-color: #f5f5f7;
    padding: 27px;
    margin: 0 auto;
    text-align:center;
    width:24%;
    border-radius: 24px;
    outline-style: ridge;
    outline-color: transparent ;
    -moz-outline-radius: 24px;
    min-width: 300px;
    transition: all 0.45s;
    position: relative;
    border: 1px solid white;
}
.card:hover{
    box-shadow: 1px 1px 10px #a4a4a6;
    border: 1px solid white;
    border-radius:24px;
    transform: scale(1.02);
}
form{
    margin: 0 auto;
}
.move{
    display:block;
    text-align: left;
    color:#3b3b3c;
}
input[type="text"]{
    transform:translateY(-100%);
    margin-left: 20%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.form-btn input,.form-btn a{
    font-size: 24px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #166ece;
}
.form-btn input:hover , .form-btn a:hover{
    font-size: 24px;
    text-decoration: underline;
    color: #0062d3;
    cursor: pointer;
}
.form-btn-delete{
    text-align: center;
    margin: 12px auto -6px auto;
}
.form-btn-delete a{
    text-decoration: none;
    color:#cccccc;
}
.form-btn-delete a:hover{
    color: #a4a4a6;
    cursor: pointer;
}


/*.left{*/
/*    background-color: transparent;*/
/*    color: #0597F2;*/
/*    padding: 8px;*/
/*    outline: none;*/
/*    border: none;*/
/*    font-size: 17px;*/
/*    cursor: pointer;*/
/*    transition: 0.5s all;*/
/*    -webkit-transition: 0.5s all;*/
/*    -moz-transition: 0.5s all;*/
/*    -o-transition: 0.5s all;*/
/*    -ms-transition: 0.5s all;*/
/*    margin-left: 9%;*/
/*}*/

/*.right{*/
/*    background-color: transparent;*/
/*    color:#0597F2;*/
/*    outline: none;*/
/*    border: none;*/
/*    padding: 8px;*/
/*    font-size: 17px;*/
/*    cursor: pointer;*/
/*    transition: 0.5s all;*/
/*    -webkit-transition: 0.5s all;*/
/*    -moz-transition: 0.5s all;*/
/*    -o-transition: 0.5s all;*/
/*    -ms-transition: 0.5s all;*/
/*    margin-right: 9%;*/
/*}*/
/*input[type="button"]:hover {*/
/*    color: #166ece;*/
/*}*/