.card {
    background-color: #f5f5f7;
    padding: 30px;
    margin: 27px auto;
    text-align:center;
    width:16%;
    border-radius: 25px;
    outline-style: ridge;
    outline-color: transparent ;
    -moz-outline-radius: 25px;
    min-width: 400px;
}

.move{
    display:block;
    text-align: left;
    color:#3b3b3c;
    margin-left: 8%;
}
#check1,#check2,#check3,#check4{
    width:100%;
    color:red;
}
input[type="text"]{
    height: 4%;
    width: 200px;
    transform:translateY(-100%);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3c;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.logout{
    float:left;
    text-decoration: none;
    color:#cccccc;
}
.logout:hover{
    color: #166ece;
    cursor: pointer;
}
.form-btn input,.form-btn a{
    font-size: 24px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #166ece;
}
.form-btn input:hover , .form-btn a:hover{
    font-size: 24px;
    text-decoration: underline;
    color: #0062d3;
    cursor: pointer;
}