.wrap{
    width: 610px;
    height: 500px;
    background-color:white;
    margin: 50px auto;
    border: solid white 1px;
    border-radius: 10px;
    -moz-outline-radius: 25px;
    transition: all 0.25s;
}
.wrap:hover{
    box-shadow: 1px 1px 10px #a4a4a6;
    transform: scale(1.02);
}
.sex{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3c;
    margin-left: 50px;
}
.move{
    width:210px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3c;
    margin-left: 48px;
}
.nmove{
    width:210px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3c;
}
.form_Register{
    width: 490px;
    height: 330px;
    text-align: left;
    font-size: 18px;
    margin: auto;
    padding: 10px;
    letter-spacing:4px;

}
#check1,#check2,#check3,#check4,#check5,#check6{
    font-size: 13px;
    letter-spacing:0px;
}

.form_Register div{
    height: 20px;
    font-size: 20px;
    font-weight: 200;
    margin: 10px;
    margin-top: 3%;
    margin-left: 10%;
}

.send-button{
    margin: 20px;
}

.errorMsg{
    background-color: #F5F5F7;
    height: 8%;
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.errorMsg1{
    background-color: transparent;
    height: 8%;
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.submit{
    margin-top: -12px;
    background-color: transparent;
    color: #0597F2;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 18px;
    width: 25%;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-left: 65px;
}

.cancel{
    margin-top: -12px;
    margin-left: 5%;
    background-color: transparent;
    color: #0597F2;
    font-size: 18px;
    padding: 8px;
    outline: none;
    border: none;
    width: 25%;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.submit:hover,.cancel:hover {
    color: #166ece;
}