.div p{
    margin: 0;
    padding: 0;
}

.wrap{
    width: 540px;
    height: 200px;
    background-color:rgb(255,255,255);
    margin: 50px auto;
    border: solid rgb(224,224,224) 1px;

}

.head_color{
    margin: 0;
    padding: 10px 0px 10px 10px;
    width: 530px;
    height: 30px;
    background-color: #0597F2;

    color:rgb(255,255,255);
    letter-spacing:4px;
    font-size: 18px;

}



.find_password{
    text-align: center;
    padding: 10px 20px;

    font-size: 18px;
}

.mailbox{
    width: 80%;
    height: 50px;
    text-align: center;
    color: rgb(0,83,119);
    font-size: 20px;
    font-weight: 900;
}

.mail_code{
    margin-top: 10px;
    margin-left: 30px;
    width: 75%;
    height: 30px;
    border-radius: 10px;
    border: rgb(0,83,119) solid 1px ;
}

.btn-success {
    margin-top: -12px;
    background-color: #0597F2;
    color: white;
    border-radius: 20px;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 17px;
    width: 30%;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.btn-success:hover{
    background: #166ece;
    color: white;
}

.back_login{
    float: right;
}