.wrap{
    width: 460px;
    height: 640px;
    background-color:white;
    margin: 50px auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid white 1px;
    border-radius: 10px;
    -moz-outline-radius: 25px;
    transition: all 0.25s;
}
.wrap:hover{
    box-shadow: 1px 1px 10px #a4a4a6;
    transform: scale(1.02);
}
.sex{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3c;
}
.move{
    width:210px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3c;
    margin-left: 20%;
}
.move1{
    width:120px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3c;
    margin-left: 20%;
}
.nmove{
    width:210px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3c;
}
.form_Register{
    width: 490px;
    height: 330px;
    text-align: left;
    font-size: 18px;
    margin: auto;
    padding: 10px;
    letter-spacing:4px;

}
#check1,#check2,#check3,#check4,#check5,#check6,#check7{
    font-size: 13px;
    letter-spacing:0px;
}

.send{
    background-color: #0597F2;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

.send:hover{
    background-color: #166ece;
}

.form_Register div{
    height: 20px;
    font-size: 20px;
    font-weight: 200;
    margin: 10px;
    margin-top: 3%;
    margin-left: 10%;
}

.send-button{
    margin: 20px;
}

.errorMsg{
    background-color: #F5F5F7;
    height: 8%;
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.errorMsg1{
    background-color: transparent;
    height: 8%;
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.submit{
    margin-left: 20%;
    margin-top: -40%;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border: none;
    color: #166ece;
}

.cancel{

    margin: auto;
    margin-top: -40%;
    margin-left: 90%;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    border: none;
    color: #166ece;
}



.submit:hover,.cancel:hover {
    text-decoration: underline;
    color: #0062d3;
}