.div p{
    margin: 0;
    padding: 0;
}

.wrap{
    width: 480px;
    height: 200px;
    background-color:rgb(255,255,255);
    margin: 50px auto;
    border: solid rgb(224,224,224) 1px;
    border-radius: 10px;
    -moz-outline-radius: 25px;
    transition: all 0.25s;
}
.wrap:hover{
    box-shadow: 1px 1px 10px #a4a4a6;
    transform: scale(1.02);
}
.head_color{
    margin: 0;
    padding: 10px 0px 10px 10px;
    width: 470px;
    height: 30px;
    background-color: #0597F2;

    color:white;
    letter-spacing:4px;
    font-size: 18px;

}



.find_password{
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
}

.mailbox{
    width: 80%;
    height: 50px;
    text-align: center;
    color: rgb(0,83,119);
    font-size: 20px;
    font-weight: 900;
    margin-left: 8%;
}
.back{
    text-decoration: none;
    color:#0597F2;
    font-size: 20px;
}
.back:hover{
    color:#166ece;
}
.mail_code{
    margin-top: 10px;
    margin-left: 30px;
    width: 75%;
    height: 30px;
    border-radius: 10px;
    border: rgb(0,83,119) solid 1px ;
}

.btn-success {
    margin-top: -12px;
    background-color: transparent;
    color: #0597F2;
    border-radius: 20px;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 20px;
    width: 30%;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.btn-success:hover{
    background: transparent;
    color: #166ece;
}

.back_login{
    float: right;
}