.div p{
    margin: 0;
    padding: 0;
}

.wrap{
    background-color:rgb(255,255,255);
    margin: 70px auto;
    border-radius: 12px;
    -moz-outline-radius: 25px;
    transition: all 0.25s;
    min-width: 400px;
    padding:12px 12px 12px 12px ;
    width: 20%;
    height: 50%;
}
.wrap:hover{
    box-shadow: 1px 1px 10px #a4a4a6;
    transform: scale(1.02);
}
.head_color{
    text-align: center;
    font-size: 42px;
    font-family: 等线 Light;
    color: #0597F2;

}
.errorMsg{
    background-color: #F5F5F7;
    height: 10%;
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.errorMsg1{
    background-color: transparent;
    height: 10%;
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.findpwd{
    margin: 27px auto;
}


.find_password{
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
}

.mailbox{
    color: rgb(0,83,119);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 24px auto;
    margin-top: 3%;
}
.back{
    text-decoration: none;
    color:#0597F2;
    font-size: 20px;
}
.back:hover{
    color:#166ece;
}
.mail_code{
    margin-top: 10px;
    margin-left: 30px;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: rgb(0,83,119) solid 1px ;
}

.btn-success {
    background-color: transparent;
    color: #0597F2;
    outline: none;
    border: none;
    font-size: 20px;
    width: 30%;
    cursor: pointer;
    transition: 0.5s all;
}
.btn-success:hover{
    background: transparent;
    color: #166ece;
}
.findpwd-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    margin-top: 10%;
}